html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  section {
    padding: 94px 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  height: 100%;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  width: 201px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover {
  background-color: #188ce8;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo--accent {
  color: #2196f3;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon:hover, .social-list__icon:focus {
  fill: #ffffff;
}

.title {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0 25px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 94px;
  }
}

.site-nav__link {
  display: flex;
  align-items: center;
  position: relative;
  color: #212121;
}

.site-nav__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  cursor: pointer;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  transform: scaleX(1);
  opacity: 1;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .site-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }
  .site-contact__link {
    display: flex;
    align-items: center;
    color: #757575;
  }
  .site-contact__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact {
    display: flex;
    margin-left: auto;
  }
  .site-contact__link {
    display: flex;
    align-items: center;
    color: #757575;
  }
  .site-contact__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contact__item + .site-contact__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact__item + .site-contact__item {
    margin-left: 50px;
  }
}

.hamburger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: white;
}

.hamburger-button:hover .mob-menu-icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1600px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-main.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deckstope/bg-main.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/deckstope/bg-main@2x.jpg);
  }
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.69;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 335px) {
  .hero__title {
    font-size: 6vw;
  }
}

@media screen and (min-width: 336px) and (max-width: 479px) {
  .hero__title {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .features-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .features-list__item + .features-list__item {
    margin-left: 30px;
  }
}

.features-list__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .offers {
    display: none;
  }
}

.offers__title {
  margin-bottom: 50px;
}

.offers-list {
  display: flex;
  justify-content: space-between;
}

.offers-list__wrapper {
  position: relative;
}

.offers-list__image {
  display: block;
  width: 100%;
}

.offers-list__description {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    margin: -15px;
  }
}

.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list__item + .team-list__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item + .team-list__item {
    margin-left: 30px;
  }
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list__meta {
  padding: 30px 0px;
}

.team-list__item {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list__social-list {
  margin-top: 16px;
  margin-left: -10px;
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -15px;
  flex-wrap: wrap;
}

.clients-list__item {
  margin: 15px;
}

@media screen and (max-width: 399px) {
  .clients-list__item + .clients-list__item {
    margin-bottom: 20px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 15px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    align-items: baseline;
  }
}

.wrapper-logo {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .wrapper-logo {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.address {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    margin-left: 70px;
  }
}

.social__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .social__title {
    text-align: center;
  }
}

.social-list__link--white {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.subscibe {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscibe {
    margin-left: auto;
  }
}

.subscribe__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe__title {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.form-subscribe {
  display: block;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: flex;
    align-items: center;
  }
}

.form-subscribe__email {
  position: relative;
}

.form-subscribe__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: text;
}

.form-subscribe__input {
  height: 50px;
  width: 360px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (max-width: 359px) {
  .form-subscribe__input {
    width: 300px;
  }
}

.form-subscribe__input:focus + .form-subscribe__label,
.form-subscribe__input:not(:placeholder-shown) + .form-subscribe__label {
  opacity: 0;
}

.form-subscribe__button {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-subscribe__button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.button__icon {
  fill: #ffffff;
}

.button__icon--right {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 90vw;
    height: 609px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: unset;
  cursor: pointer;
}

.close-button__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: #2196f3;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__fildset {
  padding: 0;
  border: none;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__coment {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__coment:hover, .modal-form__coment:focus {
  border: 1px solid #2196f3;
}

.modal-form__coment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__icon {
  display: inline-block;
  background-image: url(../images/check.svg);
  min-width: 16px;
  min-height: 15px;
}

.checkbox__input:checked ~ .checkbox__icon {
  background-image: url(../images/active-check.svg);
}

.checkbox__label {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filters-list {
    margin-bottom: -15px;
  }
}

@media screen and (min-width: 768px) {
  .filters-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    margin-bottom: 50px;
  }
}

.filters-list__item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters-list__item {
    margin-bottom: 15px;
  }
}

.filters-list__button {
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__button:focus, .filters-list__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list__button--active {
  color: #ffffff;
  background-color: #2196f3;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .work-list {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list {
    margin: -15px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    margin-top: 50px;
  }
}

.work-list__item {
  background: #ffffff;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .work-list__item {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .work-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .work-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .work-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.work-list__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-list__link:hover, .work-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.work-list__image {
  display: block;
  width: 100%;
  height: auto;
}

/* BLUE ICON */
.work-list__wrapper {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.work-overlay__descr {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .work-overlay__descr {
    font-size: 14px;
  }
}

.work-list__link:hover .work-overlay,
.work-list__link:focus .work-overlay {
  transform: translateY(0);
}

.item-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.item-text__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}

.item-text__descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    background-color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toogle {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: white;
}

.menu-toogle:hover .mob-menu-icon {
  fill: #2196f3;
}

.mob-menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-contact__item {
  margin-bottom: 32px;
}

.mobile-contact__tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 340px) {
  .mobile-contact__tel {
    font-size: 28px;
  }
}

.mobile-contact__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: flex;
}

@media screen and (max-width: 340px) {
  .mobile-social {
    flex-direction: column;
    align-items: center;
  }
}

.mobile-social__item {
  display: flex;
  align-items: center;
  position: relative;
}

.mobile-social__item + .mobile-social__item {
  margin-left: 10px;
}

.mobile-social__item:not(:last-child):after {
  content: '';
  margin-left: 10px;
  width: 1px;
  height: 22px;
  background-color: #757575;
}

@media screen and (max-width: 340px) {
  .mobile-social__item + .mobile-social__item {
    margin-left: 0px;
  }
  .mobile-social__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .mobile-social__item:not(:last-child):after {
    content: '';
    display: none;
  }
}

.mobile-social__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 340px) {
  .mobile-social__link {
    font-size: 22px;
  }
}
/*# sourceMappingURL=main.css.map */