.features {
  padding-bottom: 0;
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
}
.features-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.features-list__item {
  @media screen and (max-width: 767px) {
    display: flex;

    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    & + & {
      margin-left: 30px;
    }
  }
}
.features-list__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: $background-gray-color;
  border-radius: 4px;
}
.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-descr;
}
